/* LOADER */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'FontCummarize';
    src: url(../font/traffic5.ttf);
}

/* HEADER */
header{
    z-index: 100;
    backdrop-filter: blur(20px);
    width: 100%;
    height: 80px;
    background: rgba(255,255,255,0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0 100px;
    position: fixed;
    transition: .5s;
}
.hd-bg{
    background: rgba(0,0,0, 0.2);
}
.nav_logo{
    height: 75px;
    background-size: cover;
    transition: all 0.5s;
}

.nav_logo:hover{
    filter: drop-shadow(0px 0px 2px white);
}

.hamburger{
    display: none;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li a.inactive{
    display: block;
    color: white;
    font-size: 15px;
    font-family: 'FontCummarize';
    padding: 10px 25px;
    transition: 0.2s;
    margin: 0 5px;
    opacity: 75%;
}

.nav-bar ul li a:hover{
    opacity: 100%;
    color: white; 
    transition: 0.3s;
}

.nav-bar ul li a.active{
    display: block;
    color: white;
    font-size: 15px;
    font-family: 'FontCummarize';
    padding: 10px 25px;
    transition: 0.2s;
    margin: 0 5px;
    opacity: 50%;
    color: white;
    opacity: 100%;
    text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
}

@media only screen and (max-width: 1320px){
    header{
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px){
    header{
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px){
    .hamburger{
        display: block;
        cursor: pointer; 
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
    }
    .nav-bar{
        height: 0;
        position: absolute;
        top: 80px; 
        left: 0; 
        right: 0;
        width: 100vw;
        background: #2A598B;
        opacity: 70%;
        transition: 0.2s;
        overflow: hidden;
    }  
    .nav-bar.active{
        width: 100% !important;
        height: 365px;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        margin-bottom: 12px;
    }
}

.welcome-page{
    z-index: 1000;
    position: static;
    background-image: url(../image/welcome-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftRight{
    display: flex;
    flex-direction: row;
    margin-top: 85px;
    width: 100%;
    height: 88.5%;
    z-index: 50;
}

/* FOOTER */

footer{
    z-index: 0;
    margin-top: -20%;
    position: relative;
    /* background: linear-gradient(0deg, #2A598B 97.19%, rgba(255, 255, 255, 0.83) 100%); */
    background: linear-gradient(to bottom, 
                                rgba(255,255,255,0) 0%, 
                                #2A598B 40%); 
    /* background: red; */
    width: 100%;
    /* height: calc(100% + 100px); */
    height: 90vh;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.title{
    margin-left: 100px;
    width: 100%;
    height: 40%;
    display: flex;
    z-index: 50;
    justify-content: center;
    flex-direction: column;
}

.title-01{
    font-family: 'FontCummarize';
    font-size: 12pt;
    color: white;
}

.title-02{
    font-family: 'FontCummarize';
    font-size: 50px;
    color: white;
}

.options{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.options a{
    font-family: 'FontCummarize';
    color: #2A598B;
    font-size: 15px;
    text-align: center;
    line-height: 15px;
    justify-content: center;
    background: white;
    padding : 10px 30px;
    border-radius: 20px;
    margin-right: 20px;
    border: solid white;
}

.options a:hover{
    transition: .5s;
    color: white;
    background: transparent;
}

.welcome-image{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}





.reachUs{
    margin-top: 23.5%;
    margin-left: 100px;
    font-family: Arial,Helvetica,'Heiti SC','Microsoft Yahei',simsun,sans-serif;    font-size: 20px;
    color: white;
    font-style: bold;
    opacity: 50%;
}

.tagLine{
    margin: 1%;
    margin-left: 100px;
    width: 43%;
    font-family: Arial,Helvetica,'Heiti SC','Microsoft Yahei',simsun,sans-serif;    font-size: 20px;
    font-size: 15px;
    color: white;
    opacity: 50%;
}

.text-box{
    width: calc(100% -100px);
    height: 35px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 100px;
}

.text-01{
    /* margin-left: 2%; */
    font-family: Arial,Helvetica,'Heiti SC','Microsoft Yahei',simsun,sans-serif;    font-size: 20px;
    font-size: 13.5px;
    color: white;
    width: 100%;
    opacity: 50%;
}

.text-02{
    /* margin-left: 2%; */
    font-family: Arial,Helvetica,'Heiti SC','Microsoft Yahei',simsun,sans-serif;    font-size: 20px;
    font-size: 13.5px;
    color: #7D7D7D;
    width: 100%;
}