<!DOCTYPE html>
{% extends 'base.html' %}

<!-- HEAD -->
{% block head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
{% endblock %}

<!-- BODY -->
{% block body %} 
<!-- <p align="center"><a href="text"><button style="height:75px;width:150px">TEXT SUMMARIZER</button></a></p> -->
<header>
    <div class="navLogo">
        <img src="../static/image/logo.png" alt="Cummarize" class="nav_logo"/>  
    </div>
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <nav class="nav-bar">
        <ul>
            <li><a class="active" id="home" href="/">Home</a></li>
            <li><a class="inactive" id="text" href="text">Text</a></li>
            <li><a class="inactive" id="audio" href="#">Video</a></li>
            <li><a class="inactive" id="video" href="#">Audio</a></li>
        </ul>
    </nav>
    
</header>

<div class="welcome-page">
    <div class="leftRight">
        <div class="welcome-text">
            <div class="title">
                <div class="title-01">WELCOME TO CUMMARIZE</div>
                <div class="title-02">The Online Web and</div>
                <div class="title-02">Video Summarizer</div>
                <div class="title-01">Online Summarizer developed &amp supported</div>
                <div class="title-01">by Bina Nusantara University</div>
                <div class="options">
                    <a href="text">TEXT</a>
                    <a href="text">VIDEO</a>
                    <a href="text">AUDIO</a>
                   
                </div>
            </div>
        </div>
        <div class="welcome-image">
            <img src="../static/image/welcome-image.png" alt="welcome-image" class="icon"/>
        </div>
    </div>
</div>

<footer>
    <div class="footer">
        <h1 class="reachUs">Reach Us</h1>
        <div class="tagLine">Cummarize. always happy to look for ways to improve your experience. Dont forget to follow and send us your feedback to Cummarize. Your comments and suggestions are greatly appreciated!</div>
        <div class="text-box">
            <div class="text-01">feedback@Cummarize.com</div>
            <div class="text-02">Please provide your feedback for Vibey</div>
        </div>
        <div class="text-box">
            <div class="text-01">support@Cummarize.com</div>
            <div class="text-02">For help, please contact Cummarize Technical Support.</div>
        </div>
        <div class="text-box">
            <div class="text-01">press@Cummarize.com</div>
            <div class="text-02">For PR inquiries, please contact our PR Team.</div>
        </div>
        <div class="text-box">
            <div class="text-01">BD@Cummarize.com</div>
            <div class="text-02">For business inquiries, please contact our BD Team.</div>
        </div>
    </div>
</footer>

<script>
    hamburger = document.querySelector(".hamburger");
    hamburger.onclick = function () {
        navBar = document.querySelector(".nav-bar")
        navBar.classList.toggle("active");
    }

    const delay = (ms) => new Promise((res) => setTimeout(res, ms));
    let home = document.getElementById("home");
    let text = document.getElementById("text");
    let audio = document.getElementById("audio");
    let video = document.getElementById("video");

    function disactivateClass() {
        if (home.classList.contains("active") == true) {
            home.classList.remove("active");
            home.classList.add("inactive");
            
        }
    }
    function activateClass() {
        if (home.classList.contains("inactive") == true) {
            home.classList.add("active");
            home.classList.remove("inactive");
        }
    }
    text.addEventListener("mouseenter", () => {
        disactivateClass();
    })
    text.addEventListener("mouseleave", () => {
        activateClass();
    })

    audio.addEventListener("mouseenter", () => {
        disactivateClass();
    })
    audio.addEventListener("mouseleave", () => {
        activateClass();
    })

    video.addEventListener("mouseenter", () => {
        disactivateClass();
    })
    video.addEventListener("mouseleave", () => {
        activateClass();
    })
</script>
{% endblock %}