<!DOCTYPE html>
{% extends 'base.html' %}

<!-- HEAD -->
{% block head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/text.css')}}">
{% endblock %}

<!-- BODY -->
{% block body %} 

<header id="hd">
    <div class="navLogo">
        <img src="../static/image/logo.png" alt="Cummarize" class="nav_logo"/>  
    </div>
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <nav class="nav-bar">
        <ul>
            <li><a id="home" class="inactive" href="/" >Home</a></li>
            <li><a id="text" class="active" href="text">Text</a></li>
            <li><a id="video" class="inactive" href="#">Video</a></li>
            <li><a id="audio" class="inactive" href="#">Audio</a></li>
        </ul>
    </nav>
</header>

<div class="text-page">
    <div class="leftRight">
        <div class="text-summarizer">
            <div class="title">
                <div class="title-01">WELCOME TO CUMMARIZE</div>
                <div class="title-02">Text Summarizer</div>
                <div class="title-01">Online Summarizer developed &amp supported</div>
                <div class="title-01">by Bina Nusantara University</div>
                <div class="form1">
                    <form action="{{ url_for('text')}}" method="post">
                    <input class ="textInput" type="text" name="url" placeholder="Paste here the link you want to summarize">
                </div>
                <div class="errorMSG">{{ error_msg }}</div>
                <button class = "buttonSubmit" value="url" name="button" type="submit">CUMMARIZE</button>
            </div>
        </div>
        <div class="text-image">
            <img src="../static/image/welcome-image.png" alt="welcome-image" class="icon"/>
        </div>
    </div>
</div>

<div class="summarize-text">
    <div class="summarize">Summarize Text</div>
    <form method="POST" action="/analyze">
    <textarea name="rawtext" cols="3" rows="5" class="formText" placeholder="Copy and paste your text here"></textarea>
    <div class="errorMSG">{{ error_msg_2 }}</div>
    <button name="button" value="rawtext" class="buttonSubmit" type="submit">CUMMARIZE</button>    
</div>
<footer>
    <div class="footer">
        <h1 class="reachUs">Reach Us</h1>
        <div class="tagLine">Cummarize. always happy to look for ways to improve your experience. Dont forget to follow and send us your feedback to Cummarize. Your comments and suggestions are greatly appreciated!</div>
        <div class="text-box">
            <div class="text-01">feedback@Cummarize.com</div>
            <div class="text-02">Please provide your feedback for Vibey</div>
        </div>
        <div class="text-box">
            <div class="text-01">support@Cummarize.com</div>
            <div class="text-02">For help, please contact Cummarize Technical Support.</div>
        </div>
        <div class="text-box">
            <div class="text-01">press@Cummarize.com</div>
            <div class="text-02">For PR inquiries, please contact our PR Team.</div>
        </div>
        <div class="text-box">
            <div class="text-01">BD@Cummarize.com</div>
            <div class="text-02">For business inquiries, please contact our BD Team.</div>
        </div>
    </div>
</footer>

<script>
    hamburger = document.querySelector(".hamburger");
    hamburger.onclick = function () {
        navBar = document.querySelector(".nav-bar")
        navBar.classList.toggle("active");
    }
    let hdr = document.getElementById("hd");
    window.addEventListener("scroll", (event) => {
        let scroll = this.scrollY;
        if(scroll == 0)
        {   
            if(hdr.classList.contains("hd-bg") == true)
            {
                hdr.classList.remove("hd-bg")
            }
        }
        else
        {
            if(hdr.classList.contains("hd-bg") == false)
            {
                hdr.classList.add("hd-bg")
            }
        }
    });
    const delay = (ms) => new Promise((res) => setTimeout(res, ms));
    let home = document.getElementById("home");
    let text = document.getElementById("text");
    let audio = document.getElementById("audio");
    let video = document.getElementById("video");

    function disactivateClass() {
        if (text.classList.contains("active") == true) {
            text.classList.remove("active");
            text.classList.add("inactive");
            
        }
    }
    function activateClass() {
        if (text.classList.contains("inactive") == true) {
            text.classList.add("active");
            text.classList.remove("inactive");
        }
    }
    home.addEventListener("mouseenter", () => {
        disactivateClass();
    })
    home.addEventListener("mouseleave", () => {
        activateClass();
    })

    audio.addEventListener("mouseenter", () => {
        disactivateClass();
    })
    audio.addEventListener("mouseleave", () => {
        activateClass();
    })

    video.addEventListener("mouseenter", () => {
        disactivateClass();
    })
    video.addEventListener("mouseleave", () => {
        activateClass();
    })
</script>
{% endblock %}
